body {
  background-color: #00a78e;
  margin: 25em auto;
}

$twitter: #00acee;
$facebook: #3b5998;
$googleplus: #e93f2e;
$stumbleupon: #f74425;
$linkedin: #0e76a8;

$md-colour-list: (
twitter $twitter,
facebook $facebook,
googleplus $googleplus,
stumbleupon $stumbleupon,
linkedin $linkedin
);

@each $colour-name, $md-colour in $md-colour-list {
  .mdl-button.mdl-button--#{$colour-name} {
      color: rgb(63, 81, 181)
  }
  .mdl-button.mdl-button--#{$colour-name}:focus:not(:active) {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name} {
      background: $md-colour;
      color: rgb(255, 255, 255)
  }
  .mdl-button--raised.mdl-button--#{$colour-name}:hover {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name}:active {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name}:focus:not(:active) {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name} .mdl-ripple {
      background: rgb(255, 255, 255)
  }
  .mdl-button--fab.mdl-button--#{$colour-name} {
      background: $md-colour;
      color: rgb(255, 255, 255)
  }
  .mdl-button--fab.mdl-button--#{$colour-name}:hover {
      background-color: $md-colour
  }
  .mdl-button--fab.mdl-button--#{$colour-name}:focus:not(:active) {
      background-color: $md-colour
  }
  .mdl-button--fab.mdl-button--#{$colour-name}:active {
      background-color: $md-colour
  }
  .mdl-button--fab.mdl-button--#{$colour-name} .mdl-ripple {
      background: rgb(255, 255, 255)
  }
}